.body{
    height: 100vh;
}

h1{
    color: white;
}

p{
    color: white;
    font-size: 18px;
    text-align: left;
    line-height: 25px;
}
.imageCont{
    width: 500px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.imageCont img{
    width: 499px;
}